@page "/books"
@inject HttpClient HttpClient


<PageTitle>Book List</PageTitle>

<h3>List of all books</h3>


@if (bookDTO == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (BookDTO book in bookDTO)
        {
            <li>@book.Title - @book.Author</li>
        }
    </ul>
}

@code {
    List<BookDTO> bookDTO = [];

    protected override async Task OnInitializedAsync()
    {
        bookDTO = await HttpClient.GetFromJsonAsync<List<BookDTO>>("/api/books");
    }
}
