@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a site for a school project, which have a library with books, this site uses an API to get info from a database and display them for the user.</p>
</div>
